:root {

    --border-1: rgb(22, 97, 58);
    --border-2: rgb(37, 95, 37);
    --bg-1: rgb(11, 51, 30);
    --bg-2: rgb(22, 31, 22);
    
    --light-accent: rgb(83, 148, 83);
    --dark-accent: rgb(45, 71, 45);

}
*{

    background-color: black;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: greenyellow;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;

    user-select: none;
}

img {
    background-color: transparent;
}

p > img {
    display: inline;
    width: 20px;
    height: 20px;
    margin: 2px;
    padding: 0;
    background-color: transparent;
}

.resource-bar > ul > li > img {
    display: inline;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.resource-bar > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 30px;

    background-color: var(--bg-2);
    border-right: 1px solid var(--border-1);

}

.resource-bar > ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.resource-bar {
    border-bottom: 3px inset var(--border-2);

}

body {
    height: 100vh;
    width: 100vw;
}

li {
    display: inline-block;
    width: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-wrapper {
    display: flex;
    justify-items: start;
    align-items: flex-start;

    height: 100%;
    width: 100%;

}

.sidebar-left {
    height: 100%;
    width: 30%;

    background-color: rgb(0, 0, 0);
    border: 3px inset var(--border-1);
    padding: 5px;
}

.sidebar-left-title{

    height: 5%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: greenyellow;

    background-color: var(--bg-1);
    border: 3px outset var(--border-1);

    margin-bottom: 3%;
}

#grow-title {
    display: flex;
}

#evolve-title {

    display: none;
}

#adapt-title {

    display: none;

}

#overcome-title {
    display: none;
}

.sidebar-left-tab-switch{

    height: 5%;
    width: 100%;

    margin-bottom: 5%;

}
.sidebar-left-tab-switch > ul {

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    width: 100%;

}

button:hover{
    filter: brightness(200%);
    cursor: pointer;
}

button:active{
    transform: translate(0px, 1px);
}

.sidebar-left-tab-switch-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 100%;

    color: greenyellow;

    background-color: var(--bg-1);
    border: 3px outset var(--border-1);
}

.planet-map {
    display: grid;
    grid-template-rows: 30px 30px 80%;
    

    justify-items: center;
    align-items: center;

    height: 100%;
    width: 60%;

    padding: 0;
    margin: 0;
}

.turn-count {
    color: greenyellow;
    font-style: italic;
}

.planet-properties-bar {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(auto-fill, 1fr);

    border: 3px inset var(--light-accent);
    height: 100%;
    width: 100%;
}

.planet-property {
    height: 100%;
    width: 30px;

    border: 1px solid orange;
}

.planet-property:hover {
    cursor: pointer;
    filter: brightness(200%);
}

.planet-property:active {
    transform: translate(0px, 1px);
}

.planet-property-description{
    display: none;
}

table {
    table-layout: fixed;
    width: 80%;
    height: 80%;

    border: 1px solid var(--light-accent);
}

tr{
    height: 20px;

}

td{
    height: 20px;
    width: 20px;

    border: 1px solid var(--dark-accent);
}

td:hover{
    border-color: orange;
}

.sidebar-right {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 55% 40%;

    height: 100%;
    width: 30%;

    background-color: rgb(0, 0, 0);
    border: 3px inset var(--border-1);

}

.sidebar-right-cluster-display {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));;
    grid-gap: 1rem;
    overflow: auto;

    height: 100%;
    width: 100%;

    padding: 1px;
}

.sidebar-right-action-log {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;

    min-height: 0;

    height: 85%;
    width: 100%;

    padding: 1px;

    border-top: 3px inset var(--border-1);
}

.sidebar-right-unit-count {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: 100%;

    height: 100%;
    width: 100%;

    margin-bottom: 2px;
    border: 2px inset var(--border-1);
}

.cluster-nut-consumption {
    display: inline-block;


    color: red;
    background-color: transparent;

}

.unit-count {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    width: 100%;

    background-color: var(--bg-2);
    border-right: 1px solid var(--border-1);
}

.unit-count-img {
    height: 100%;
    width: calc(50% * 100%);


}

.cluster-unit-count {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: min-content;
    max-height: min-content;

    padding-right: 5px;
    background-color: transparent;
}

.cluster-unit-nut {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: min-content;
    max-height: min-content;

    padding-right: 5px;
    background-color: transparent;
    color: red;
}

.cluster-unit-nut > img {
    height: 16px;
    margin-left: 5px;
}

.cluster-unit-count > img {
    height: 16px;
    margin-left: 5px;
}

.cluster-unit-count-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;

    padding: 2px;

    background-color: transparent;
}

.cluster-action-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 1px var(--border-2) solid;
    border-top: transparent;
    height: fit-content;
    width: 100%;

    background-color: var(--bg-2);

    grid-column: span 2;
}

.cluster-action {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    margin-right: 3px;
    width: fit-content;

    border: 1px solid green;
}



.tab-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;


    height: 100%;
    width: 100%;

    /* border: 1px solid green; */ 

}

.tab-content{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));;
    grid-gap: 3rem;
    overflow: auto;

    height: 100%;
    width: 100%;

    padding: 1px;
}

#evolve-tab-content {
    display: none;
}

#adapt-tab-content{
    display: none;
}

#overcome-tab-content{
    display: none;
}

.tab-item{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-area: 40% 60%;

    height: fit-content;
    width: 100%;

    padding: 2px;

    background-color: var(--bg-1);
    border: 3px outset var(--border-1);
}

.tab-item:hover {
    filter: brightness(200%);
    cursor: pointer;
}

.tab-item:active {
    transform: translate(0px, 1px);
}

.item-title {
    display: inline-block;
    white-space: nowrap;

    padding: 2px;

    background-color: transparent;
}

.item-price {
    display: flex;
    justify-content: right;
    align-items: center;

    padding-right: 5px;
    background-color: transparent;
}

.item-price-wrapper{
    display: grid;
    grid-template-columns: 80% 20%;

    padding: 2px;

    background-color: transparent;
}

.item-price-wrapper > img {
    display: inline;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.item-description-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px var(--border-2) solid;
    border-top: transparent;
    height: fit-content;

    background-color: var(--bg-2);

    grid-column: span 2;
}

.item-description{
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;

    padding: 2px;

    background-color: transparent;

    font-size: medium;
    font-style: italic;
    color: orange;
}

.adapt-select-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border: 3px outset var(--border-1);
    background-color: var(--bg-1);
    border-bottom: transparent;
    height: 100%;
    width: 100%;
}

.item-select {
    background-color: transparent;
    font-size: large;
    color: white;
    background: transparent;
}

#adapt-tab-content {
    display: none;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, minmax(20px, 1rem));
    overflow: auto;

    height: 100%;
    width: 100%;

    margin: 0;
    grid-gap: 0;

    padding: 1px;
}

.cluster-equip-wrapper {
    display: grid;

    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    grid-auto-rows: 1fr; /* Equal height rows */
    grid-gap: 10px; /* Gap between grid items */

    width: 100%; /* Adjust the width as needed */
    height: fit-content;

    margin: 0;

    border: 3px outset var(--border-1);
    border-top: transparent;
    padding: 5px;

    grid-row: span 10;

}

.cluster-equip-item {

    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;

    border: 3px inset orange;

    width: 50px;
    height: 50px;

}

#create-cluster-title {
    display: inline-block;
    white-space: nowrap;

    padding: 2px;

    background-color: transparent;
}

.cluster-equip-item:hover{
    cursor: pointer;
    filter: brightness(200%);
}

.cluster-equip-item:active {
    transform: translate(0px, 1px);
}

.cluster-type-select{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: fit-content;
    width: 100%;

    border: 3px outset var(--border-1);

    grid-row: span 4;

}

.cluster-type-title {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: var(--bg-1);
}

.cluster-amount-select{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: fit-content;
    width: 100%;

    border: 3px outset var(--border-1);

    grid-row: span 4;
}

.cluster-amount-input::-webkit-inner-spin-button,
.cluster-amount-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.cluster-amount-input[type="number"] {
    -moz-appearance: textfield;
}

.cluster-amount-input:hover {
    filter: brightness(200%);
}

.cluster-amount-input:active{
    transform: translate(0px, 1px);
}

.cluster-amount-input {
    text-align: center;
    cursor: pointer;

    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;

    border: 3px inset orange;

    width: 50px;
    height: 50px;

    color: orange;
    font-size: large;

}

.cluster-amount-title {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: var(--bg-1);
}

.adapt-submit-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    height: fit-content;
    width: 100%;
  
}

.apply-cluster-button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;

    width: 100%;
    height: 100%;

    background-color: var(--bg-1);
    border: 3px outset var(--border-1);;
}
